{% extends "notes/base.html" %}

{% block content %}

<h1> Create a new note</h1>

<form action= "" method="post">
{% csrf_token %}

{% for field in form %}
    <div class = "input field" {% if field.errors %}input-invalid{% endif %}>
        {{ field.label_tag }}
        {% for error in field.errors %}
            <div class = "text-danger"><small>{{ error }}</small></div>
        {% endfor %}   

        {{ field }}
    </div>
{% endfor %}    

<button type="submit">Create Note</button>
</form>

{% endblock %}