{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
    <link rel = "stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <title>Notes</title>
</head>

<h1>Create a new note</h1>
<p><a href= "/"><img src ="https://imageog.flaticon.com/icons/png/512/25/25694.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" width=40px height=30px></a></p>

<form action= "" method="POST">
    {% csrf_token %}

    {{ form.as_p }}  
    <button type="submit">Add Note</button>
</form>

