<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
</head>
<body>
    <div class = container>
        <h1>{{note.title}}</h1>
        
        <ol>
            {% for item in note.items %}    
                <li>{{item}}</li>
            {% endfor %}        
        </ol>
        <p><a href= "/">Go Home</a></p>
    </div>
</body>
</html>