{% extends 'notes/base.html' %}
{% load markdownify %}

{% block content %}  
    <div class = "header">
        <div class = "header1">
            <h1>{{note.title}}</h1>
        </div>
        <div class = "header1">
            <p><a href= "/"><img src ="https://image.flaticon.com/icons/svg/18/18625.svg" width=40px height=30px></a></p>
         </div>
    </div>
    <div class= note>{{note.description|markdownify}}</div>
    <small><a href="{% url 'notes_edit' pk=note.pk %}">Edit</a></small></h3>
{% endblock %}