h1 {
    letter-spacing: 5px;
    text-align: center;
    background-color:#F6ED5B; 
    color: white; 
    padding: 1rem; 
}

.header {
    letter-spacing: 5px;
    background-color:#F6ED5B; 
    color: white; 
    text-align: center; 
    background-clip: padding-box; 
}

button {
    background-color: rgba(241, 178, 53, 0.8); 
    border: none; 
    color: white;  
}

button:hover {
    background-color: rgba(241, 178, 53, 0.5); 
    border: none; 
    color:white;  
}


img {
    margin-left: 1350px;
    margin-bottom: 5px; 
}