* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    letter-spacing: 5px;
    text-align: center;
    background-color:#F6ED5B; 
    color: white; 
    padding: 1rem; 
}

.header {
    letter-spacing: 5px;
    background-color:#F6ED5B; 
    color: white; 
    text-align: center; 
    background-clip: padding-box; 
}

img {
    margin-left: 1350px;
    margin-bottom: 10px; 
}

ul li {
    list-style-type: none;
    color: black; 
    text-align: center; 
    margin-top: 10px; 
}

a {
    color: black; 
    text-decoration: none; 
}

li:hover {
    background-color: rgba(241, 178, 53, 0.5); 
    border: none; 
    color:white;  
    padding: 10px; 
}

.note {
    text-align: center; 
}

.warning {
    text-align: center; 
    color: red; 
    font-weight: 1000;
}

p {
    margin-top: 25px; 
    text-align: center;
}


button {
    border: none; 
    padding: 10px;
    font-size: 13pt;    
}