* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    letter-spacing: 5px;
    text-align: center;
    background-color:#F6ED5B; 
    color: white; 
    padding: 1rem; 
}


ul li {
    margin: 1rem; 
    list-style-type: none;
    color: black; 
    padding: 1rem; 
    text-align: center; 
}

a {
    color: black; 
    text-decoration: none; 
    padding: 1rem; 
}

.note {
    text-align: center; 
    margin-top: 15%; 
}

button {
    background-color: rgba(241, 178, 53, 0.8); 
    border: none; 
    color: white;  
}

button:hover {
    background-color: rgba(241, 178, 53, 0.5); 
    border: none; 
    color:white;  
}


form {
    background-position: center; 
}
